#event_show
	%h1= @event.title
	%p.username
		Shared by
		= @event.user.email
		= time_ago_in_words(@event.created_at)
		ago
	.clearfix
		.event_image_description
			= image_tag @event.image.url(:medium)
			.description= simple_format(@event.description)
			.description= @event.calendar_entry.to_formatted_s(:long)   
		.event_data
			- if @event.user == current_user
				= link_to "Edit", edit_event_path(@event), class: "data"
				= link_to "Delete", event_path(@event), method: :delete, data: { confirm: "Are you sure?" }, class: "data"
