<!DOCTYPE html>
<html>
<head>
  <title>Countdown Timer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= html_import_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<paper-header-panel>
	<paper-toolbar>
		<div>Countdown Timer</div>
		<div>Sign In/Sign Up</div>
	</paper-toolbar>
  	<div>
  		<%= yield %>
  	</div>
</paper-header-panel>

<paper-button raised>New workout</paper-button>
<paper-fab id="add" icon="add" role="button" tabindex="0" aria-disabled="false" class="x-scope paper-fab-0"></paper-fab>

</body>
</html>